<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<form action="/limboinfo/submit" method="post">
    Height: <input type="text" name="height" value="10"><br>
    <input type="radio" name="status" value="true">The bar is in tact<br>
    <input type="radio" name="status" value="false">The bar has fallen<br>
    Remaining Players: <input type="text" name="players" value="8"><br>
    <button type="submit">Submit</button>
</form>
