<h1>Here is the Limbo Machine Info</h1>
<p> {{output}} </p>
<a href="/limboinfo/height">Limbo Height</a><br>
<a href="/limboinfo/status">Limbo Status</a><br>
<a href="/limboinfo/players">Limbo Players</a><br>
